body{
	margin: 0;
}


div{
	/*border: solid 1px blue;*/
	display: block;
}

.topo{
	color:#2C383B;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	float: left;
	margin: 25px 0 0 65px;
	color: #2C383B;
}

a{
	text-decoration: none;
	color:#2C383B; 
}

p{
	font-size: 11px;
	margin: 35px 0 0 50px;
	float: left;
}
/***********MENU**********/
.homepage{
	padding: 0;
	margin: 20px 0 20px 100px;
	float: left;
	width: 128px;
	height: 60px;
	background: #E24E2A;	

}
li{
	margin-top: 20px;
	color: white;
	text-align: center;
	list-style: none;
}

.clients{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}
.clients li{
	color: #2C383B;
}

.about{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.about li{
	color: #2C383B;
}

.careers{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.careers li{
	color: #2C383B;
}

.contact{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.contact li{
	color: #2C383B;
}
/***********END MENU**********/
/***********END TOPO**********/


/***********IMG CONTEUDO**********/

.img_cont{
	background: url(imagem/banner.jpg) center center;
	float: left;
	height: 440px;
	width: 100%;
	background-size: cover;
}
/*********** END IMG CONTEUDO**********/

/*********** BANNER TEXT**********/
.banner-text{
	float: left;
	width: 100%;
	height: 181px;
	background-color: #E24E2A;
}

.banner-text p{
	margin: 70px 0 0 200px;
	width: 1000px;
	height: 78px;
	text-align: center;
	color: rgba(255,255,255,.7);
	font-size: 15px;

}

.banner-text a{
	color: rgba(255,255,255,.7);
	text-decoration: underline;

}
a:hover {
text-decoration: none;
}
/*********** END BANNER TEXT**********/

/*********** CONFIG**********/

.config{
	/*padding: 100px 0 0 0;*/
	float: left;
	background: #383838;
	width: 100%;
	height: 457px;
}
.tarja-config{
	padding-left: 50px;
	width: 1300px;
	height: 281px;
}

/***********END CONFIG**********/


/***********BLOCOS**********/
.bloco1{
	margin-top: 100px;
	color: #ffffff;
	margin-left: 20px;
	float: left; 
	width: 282px;
	height: 281px;

}
i{
	margin-top: 20px;
}
.icon{
	margin-left: 90px;
	color: white;
	font-size: 60px;
	text-align: center;
	width: 100px;
	height: 100px;
	background: #E24E2A;
}

.title{
	border-bottom:solid 1px #6c6c6c;
	width: 282px;
	height: 52px;
}

.bloco1 p{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}


.texto p{
	margin: 20px 0 0 0;
	width: 282px;
	height: 78px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: #6c6c6c;
}

/***********END BLOCOS**********/


/***********BARRA BOTTOM**********/

.barra-buttom{
	margin-left: 75px;
	float: left;
	width: 1200px;
	height: 300px;
}

.texto-buttom1 {
	margin-left: 0;
	margin-top: 50px;
	text-align: center;
	width: 1200px;
	height: 44px;
	font-size: 2.4em;
}

.texto-buttom2 {
	margin-left: 0;
	margin-top: 5px;
	text-align: center;
	width: 1200px;
	height: 27px;
	font-size: 1.2em;;
}

.link-buttom a {
	color: white;
}

.link-buttom{
	padding: 20px;
	text-align: center;
	margin: 20px auto;
	background: #1B9772;
	width: 230px;
}

/***********END BARRA BOTTOM**********/

/***********BLOCOS RODAPE**********/

.container-bloco-rodape{
	float: left;
	width: 100%;
	height: 342px;
	background: #383838;
}

.bloco-rodape{
	margin: 88px auto;
	width: 1200px;
	height: 166px;
}

.bloco2{
	float: left;
	color: #ffffff;
	width: 282px;
	height: 166px;
}

.bloco2 p{
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1.6em;
	width: 282px;
	height: 29px;
}

.texto-bloco2{
	margin-top: 0px;
	width: 282px;
	height: 78px;
}

.texto-bloco2 p{

	margin-top: 50px;
	height: 78px;
	width: 282px;
	font-size: 11pt;
	color: #6c6c6c;
}

/***********RODAPE**********/
.rodape{
	float: left;
	background: #3CB371;
	width: 100%;
	height: 181px;
}


.texto-rodape{
	padding: 0;
	text-align: center;
	margin: auto;

}

.texto-rodape p{
	text-align: center;
	padding:0;
	margin: 80px;
	width: 1200px;
	height: 21px;	
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(255,255,255,0.3);
}