body{
	margin: 0;
}


div{
	/*border: solid 1px blue;*/
	display: block;
}

.topo{
	color:#2C383B;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	float: left;
	margin: 25px 0 0 65px;
	color: #2C383B;
}

a{
	text-decoration: none;
	color:#2C383B; 
}

p{
	font-size: 11px;
	margin: 35px 0 0 50px;
	float: left;
}
/***********MENU**********/
.homepage{
	padding: 0;
	margin: 20px 0 20px 100px;
	float: left;
	width: 128px;
	height: 60px;
	background: #E24E2A;	

}
li{
	margin-top: 20px;
	color: white;
	text-align: center;
	list-style: none;
}

.clients{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}
.clients li{
	color: #2C383B;
}

.about{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.about li{
	color: #2C383B;
}

.careers{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.careers li{
	color: #2C383B;
}

.contact{
	padding: 0;
	margin: 20px 0 0 1px;
	float: left;
	width: 128px;
	height: 60px;
	background: #ECECEC;	
}

.contact li{
	color: #2C383B;
}
/***********END MENU**********/
/***********END TOPO**********/


/***********IMG CONTEUDO**********/

.img_cont img{
	float: left;
	height: 440px;
	width: 100%;
}
/*********** END IMG CONTEUDO**********/

/*********** BANNER TEXT**********/
.banner-text{
	float: left;
	width: 100%;
	height: 181px;
	background-color: #E24E2A;
}

.banner-text p{
	margin: 70px 0 0 200px;
	width: 1000px;
	height: 78px;
	text-align: center;
	color: rgba(255,255,255,.7);
	font-size: 15px;

}

.banner-text a{
	color: rgba(255,255,255,.7);
	text-decoration: underline;

}
a:hover {
text-decoration: none;
}
/*********** END BANNER TEXT**********/

/*********** CONFIG**********/

.config{
	float: left;
	background: #383838;
	width: 100%;
	height: 456px;
}

.key{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #E24E2A;
	margin: 100px 0 0 150px;
}
